body{
    font-family: "Zen Kurenaido", serif;
    font-weight: 400;
    font-style: normal;
}

.inner__wrapper{
    max-width: 800px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    width: 300px;
    padding: 20px 0;
    margin-right: 50px;
    color: #000;
    text-decoration: none;
}

/* ヘッダー */
.header {
    position: fixed;
    z-index: 99999;
    background-color: #6e8499;
    width: 100%;
}
.menu-list {
    display: flex;
    justify-content: flex-end;
}
.menu-item {
    list-style: none;
    padding: 25px 26px;
}
.main-tittle {
    text-align: center;
}


/* メイン */
.mv {
    background-image: url(img/HAWAII.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 645px;
    position: relative;
    padding-top: 65px;
}
.main_tittle > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


/* about*/
#about {
    background-color: #eafaff;
    padding: 150px 0;
}
.about_wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.about_small_tittle {
    padding-left: 130px;
    margin-top: -33px;
    margin-bottom: 65px;
    }
    

.about_content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 150px;
}

.about_content > p {
    padding-top: 70px;
    line-height: 2;
}
.viewmore_bottom {
    margin-top: 5px;
    text-align: right;   
}
.btn > p {
    margin-right: 9px;
    margin-top: -23px;
}

/* works*/
#works {
    background-image: url(img/HAWAII\ SKY.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 150px 0;
}
.works_tittle {
    padding-top: 150px;
    padding-left: 35%;
}
.works_small_tittle {
    padding-left: 155px;
    margin-top: -33px;
    margin-bottom: 100px;
}
.works_counter {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 30px;
    position: relative;
}
.works_content1  {
    margin-bottom: 230px;
}
.works_content1 > h3 {
    position: absolute;
    top: 20px;
    left: 45%;
}
.works_content2 {
    margin-top: 160px;
}
.works_content2 > h3 {
    position: absolute;
    bottom: 20%;
    left: 38%;
}

/* skill*/
#skill {
    background-color: #eafaff;
    padding: 150px 0;
}
.skill_tittle {
    padding-left: 50%;
}
.skill_small_tittle {
    padding-left: 143px;
    margin-top: -33px;
}
.skill_wrapper {
    display: flex;
    justify-content: center;
    gap: 95px;
    margin-top: 100px;
}
.skill_content_3 >img {
    margin-left: 20px;
}
.skill_content_4 > img {
    margin-top: -38px;
}
.skill_content_4 > p {
    margin-left: 34px;
    margin-top: -22px;
}
/* contact*/
footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 150px 0;
    background-image: url(img/mountainfuji.png);
}
.fotter_inner {
    max-width: 1000px;
    margin: 0 auto;
}
.contact_tittle {
    padding-top: 150px;
    text-align: right;
}
.contact_small_tittle {
    margin-top: -35px;
    margin-right: 70px;
}

.fotter_inner > p {
    margin-top: 50px;
    margin-left: 54%;
}

/* about.html */

/* メイン */
.mv_about {
    background-image: url(img/amami.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 645px;
    position: relative;
    padding-top: 65px;
}
.main_about__tittle {
    position: absolute;
    top: 50%;
    left: 20%;
}
/* about_content */
#about_page {
    background-color: #ddf2eb;
    padding: 150px 0;
}
.about_page_wrapper {
    margin: 0 auto;
    max-width: 800px;

}
.sub_tittle {
    font-size: 14px;
    margin-bottom: 20px;
}
.content_1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 70px;
}
.content_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.content_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 70px;
}
.content_small2 {
    margin-top: 15%;
}

.content_small3 {
    margin-top: 19%;
}

/* works.html */

/* メイン */

.mv_works {
    background-image: url(img/HAWAII\ OCEAN2\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 645px;
    position: relative;
    padding-top: 65px;
}

.main_works_tittle {
    position: absolute;
    top: 50%;
    left: 40%;
}

.works_1 {
    background-color: #cfbdae;
}
.works1_tittle {
    font-size: 25px;
    text-align: center;
}
.works1_content {
    display: flex;
    gap: 88px;
    max-width: 1000px;
}
.works1_summary {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    flex: 1;
    margin-bottom: 50%;
}

dt::after {
    content: ":";
}
dt.works_list {
    flex: 0 0 25%;
    font-weight: 500;
    box-sizing: border-box;
}
dd.works_text {
    flex: 1;
    box-sizing: border-box;
    margin: 0;
}



.works_2 {
    background-color: #b1a398;
}




/* スマホ画面ver */
@media screen and (max-width: 767px) {

   /* ヘッダー */ 
   .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    }



    .header_wrapper {
        margin: 0 100%;
    }


        .menu-list {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
        }
    
        .menu-item {
            margin: 10px 0;
        }
    /*メインビジュアル*/
    .mv {
        max-width: 100%;
    }
   
    /*about */
    .about_content {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    /* works */
    .works_counter {
        flex-direction: column;
        text-align: center;
    
    }
    .works_content1 {
        margin-bottom: 0;
    }

    .works_content1 > h3 {
        position: absolute;
        top: -54px;
        left: 35%;
    }
    .works_content2 {
        margin-top: 0;
    }
    .works_content2 > h3 {
        position: absolute;
        bottom: 46%;
        left: 38%;
    }
    
    .works_content1 > p {
        font-size: 18px;
        text-align: center;
    } 
    .viewmore_bottom {
        text-align: center;
        margin-top: 10%;
    }
    /* skill */
    .skill {
        max-width: 100%;
    }
    .skill_wrapper {
        flex-direction: column;
        text-align: center;
    }
    .content_4 > img {
        margin-right: 15px;
    }
    .content_4 > p {
        margin-right: 60px;
    }

    .footer > p {
        padding-top: 50px;
    }

}